doctype html
html(lang="en")
  head
    title Loading...
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include views/includes/styles

  body

    include views/includes/loading
    include views/includes/scripts
